<!-- <h1>Hello Ra7obaa</h1>
<div>test</div>
<app-first></app-first>
<div class="app-rehab"></div>
-->
<!-- <div>
  <h1>Welcome to My Angular App</h1>
  <app-sticky-note></app-sticky-note> Include StickyNoteComponent here -->
<!-- <app-user></app-user> -->

<app-header></app-header>
<div class="container-fluid ps-0">
  <section class="row">
    <app-sidebar class="col-2"></app-sidebar>
    <!-- <app-home class="col-10"></app-home> -->
    <app-product-list class="col-10"></app-product-list>
  </section>
  <app-footer></app-footer>
</div>